* {margin 0; padding 0;}
body{
  font-family: arial, helvetica, sans-serif;
  background-color: #d62828;
}
#wrapper{
  min-width: 760px; max-width: 1100px; margin:auto;
}
/*Header and nav bar */
header{
  width:100%;
  margin: 10px 0 0;
  background: #fff;
  display: table;
  border-radius: 20px;
}
header img{
  display: table-cell;
  height: 100px;
  margin: 25px 0 20px 25px;
}
header h1{
  display: table-cell;
  vertical-align: middle;
}
nav.menu ul{
  margin:4px 0 0 ;
  padding-left:0;
  display: inline-block;

}
nav.menu li{
  list-style-type: none;
  float:left;
  border: 1px solid #fff;
}
nav.menu li:first-child{
  border-radius: 20px 0 0 20px;
}
nav.menu li:last-child{
  border-radius: 0 20px 20px 0;
}
nav a{
  color:#fff;
  text-decoration: none;
  display: inline-block;
  padding:10px 10px;
}
nav a:hover{
  background-color: #c9655d;
}
nav.menu li:first-child a:hover{
  border-radius: 20px 0 0 20px;
}
nav.menu li:last-child a:hover{
  border-radius: 0 20px 20px 0;
}

/*Homepage main body*/
section.homemain{
  margin:0;
  display: table;
  background-color: #fff;
  border-radius: 20px;
  }
  video{
  padding:50px 0 0 10px;
}
section img{
display: table-cell;
  width:400px;
}
  div.announcements{
  display: table-cell;
  padding:0 10px 0 20px;
  vertical-align: middle;
}
section.homemain h2{
  text-align: center;
  border-radius: 20px;
}
/*Main body for reading and creative writing classes*/
section.attention{
  margin:0;
  display: table;
  background-color: #fff;
  padding:0 0 0 10px;
  max-width: 1100px;
  border-radius: 20px;

}
.attention .upcoming h2{
  text-align:center;
  text-decoration: underline;
}
.attention .upcoming{
  display: table-cell;
  min-width: 364px;
}
.attention .resources h2{
  text-align:center;
  text-decoration: underline;
}
.attention .resources{
  text-align:center;
  display: table-cell;
  min-width: 364px;
}

.attention .reminders{
  display: table-cell;
  width:100%;
  min-width: 364px;

}
.attention .reminders h2{
  text-align:center;
  text-decoration: underline;
}
.attention .reminders p{
}
.recommentations{
  display: table;
  border-top: 1px solid white;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 20px;

}
.recommentations div h2{
  text-align: center;
  text-decoration: underline;
}
.recommentations div{
  display: table-cell;
  padding:0 1em;
}
/*About me page*/
.aboutme{
  display: table;
  background-color: #fff;
  border-radius: 20px;

}

.aboutme img{
  display: table-cell;
  float: left;
  width:100%;
  padding: 10px;
}
.aboutme div{

  padding: 20px;
  display: table-cell;
  vertical-align:top;
}
form{
  display: table-cell;
}
/*Form page*/
form{
  background-color: #fff;
}
form .note{
  padding: 5px 0 0 0;
  font-size: .8em;
}
form section{
  padding:0 0 5px 5px;
}
/*Footer*/
footer {
	margin-top: 10px;
	margin-bottom:;
	clear:both;
	background:#fff;
	text-align:center;
	padding: 1px;
  color:#000;
  border-radius: 20px;

	}

.dropbtn{
  display: none;
border: none;
background-color: #d62828;

}
.dropbtn div{
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;

}
.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #d62828;
  border: 1px solid #000;
  min-width: 120px;
  z-index: 1;
}

.dropdown-content a{
  color:#fff;
  padding: 10px 10px 10px;
  display: block;
  text-decoration: none;

}
.show{display: block;}

/*Responsive design*/
@media screen and (max-width: 1050px){
body{
  margin: 0 25px;
}
#wrapper{
  min-width: 80%;
  border: none;
}
header {
  height:80px;
  margin: 10px 0px 10px;
  background:#fff;
  padding:10px 0;
  width:100%;
  display: block;
  }
header img{
  display: table-cell;
  height: 75%;
  margin: 15px 15px 20px 0;
  padding: 0 0 0 10px;
  float:left;
  }
header h1{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;

  }
  nav.menu {
    display:block;
    text-align: center;
    padding: 0 0 0 10px;
    width:100%;
    font-size: .7em;
  }
  nav.menu li {
    padding: 0px 20px 0px 0px;
    float: left;
    list-style-type:none;
    }
nav.menu ul{
  display: none;
}
section.homemain{
  width:100%;
  display: block;
  background-color: #d62828;
  box-shadow: none;
  }
  video{
    padding:0;
    width: 100%;
  }
  div.announcements{
    display: block;
    padding:10px;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 20px;

  }
section.attention{
    display: block;
    background-color: #fff;
    padding: 10px;
  }
  .attention .upcoming{
    min-width: 0px;
    width:100%;
    display: block;
    text-align: center;
  }
    .attention .upcoming h2{
      text-align:center;
    }
  .attention .resources{
    min-width: 0px;
    text-align:center;
    display: block;
  }
  .attention .resources h2{
    text-align:center;
  }
  .attention .reminders{
    min-width: 0px;
    display: block;
  }
  .attention .reminders h2{
    text-align:center;
  }
  .attention .reminders p{
    padding: 0 0 0 10px;
  }
  .recommentations{
    display: block;
    border-top: 1px solid white;
    margin-top: 5px;
    background-color: #fff;
  }
  .recommentations div h2{
    text-align: center;
  }
  .recommentations div{
    display: block;
    padding:0 1em;
  }
  .aboutme{
    display: table;
    background-color: #fff;
  }
  .aboutme div{
    padding: 0 0 0 5px;
    display: block;
    vertical-align:top;
  }
  .aboutme img{
    display: block;
    float: left;
    width:30%;
    padding:5px;
  }
footer{
  width:100%;
}
.dropbtn{
  display: block;
}
